### ### Java PKCS#11 configuration ### ###

# This file configures the Java PKCS#11 driver.
#
# https://connect2id.com/products/server/docs/config/jwk-set#hsm


# Sample configuration
name = NitroKeyHSM
library = /usr/lib/x86_64-linux-gnu/opensc-pkcs11.so
slotListIndex = 0
attributes(*,CKO_PRIVATE_KEY,CKK_RSA) = {
  CKA_SIGN = true
}
