<?xml version="1.0" encoding="UTF-8"?>
<web-app version = "6.0"
         xmlns = "https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation = "https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         metadata-complete="true">

	<display-name>Connect2id Server  18.0</display-name>
	
	<description>
		OpenID Connect Provider (OP) / OAuth 2.0 authorisation server.

        Copyright (c) Connect2id Ltd., 2012 - 2025
	</description>


    <!-- Configuration endpoint -->
    <servlet>
        <servlet-name>com.nimbusds.openid.connect.provider.config.ConfigurationEndpoint</servlet-name>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>com.nimbusds.openid.connect.provider.config.ConfigurationEndpoint</servlet-name>
        <url-pattern>/config/*</url-pattern>
    </servlet-mapping>


    <!-- AS / OP metadata endpoint -->
    <servlet>
        <servlet-name>OPMetadataServlet</servlet-name>
        <servlet-class>com.nimbusds.openid.connect.provider.discovery.ProviderMetadataServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>OPMetadataServlet</servlet-name>
        <url-pattern>/.well-known/openid-configuration</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>OPMetadataServlet</servlet-name>
        <url-pattern>/.well-known/oauth-authorization-server</url-pattern>
    </servlet-mapping>


    <!-- Federation configuration endpoint -->
    <servlet>
        <servlet-name>OPEntityConfigurationServlet</servlet-name>
        <servlet-class>com.nimbusds.openid.connect.provider.federation.discovery.OPEntityConfigurationServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>OPEntityConfigurationServlet</servlet-name>
        <url-pattern>/.well-known/openid-federation</url-pattern>
    </servlet-mapping>


    <!-- Provider public JWK set endpoints -->
    <servlet>
        <servlet-name>OPJWKSetServlet</servlet-name>
        <servlet-class>com.nimbusds.openid.connect.provider.discovery.ProviderJWKSetServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>OPJWKSetServlet</servlet-name>
        <url-pattern>/jwks.json</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OPSignedJWKSetServlet</servlet-name>
        <servlet-class>com.nimbusds.openid.connect.provider.federation.discovery.OPSignedJWKSetServlet</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>OPSignedJWKSetServlet</servlet-name>
        <url-pattern>/jwks.jwt</url-pattern>
    </servlet-mapping>


    <!-- Key Store endpoint (JAX-RS) -->
    <servlet>
        <servlet-name>com.nimbusds.keystore.rest.KeyStoreWebAPI</servlet-name>
        <load-on-startup>6</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>com.nimbusds.keystore.rest.KeyStoreWebAPI</servlet-name>
        <url-pattern>/key-store/rest/v1/*</url-pattern>
    </servlet-mapping>


	<!-- Authorisation Store endpoint (JAX-RS) -->
	<servlet>
		<servlet-name>com.nimbusds.authzstore.rest.WebAPI</servlet-name>
        <load-on-startup>7</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>com.nimbusds.authzstore.rest.WebAPI</servlet-name>
		<url-pattern>/authz-store/rest/v2/*</url-pattern>
		<url-pattern>/authz-store/rest/v3/*</url-pattern>
	</servlet-mapping>

    <filter>
        <description>Authorisation Store endpoint V2 compatibility filter</description>
        <filter-name>AuthzStoreV2Filter</filter-name>
        <filter-class>com.nimbusds.authzstore.rest.RevocationV2Filter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthzStoreV2Filter</filter-name>
        <url-pattern>/authz-store/rest/v2/*</url-pattern>
    </filter-mapping>
	
	
	<!-- Client Registration endpoint -->
	<servlet>
		<servlet-name>ClientRegistryServlet</servlet-name>
		<servlet-class>com.nimbusds.openid.connect.provider.reg.ClientRegistryServlet</servlet-class>
        <load-on-startup>8</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>ClientRegistryServlet</servlet-name>
		<url-pattern>/clients/*</url-pattern>
	</servlet-mapping>


    <!-- Federation Registration endpoint -->
    <servlet>
        <servlet-name>FederationRegistrationServlet</servlet-name>
        <servlet-class>com.nimbusds.openid.connect.provider.federation.reg.FederationRegistrationServlet</servlet-class>
        <load-on-startup>9</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>FederationRegistrationServlet</servlet-name>
        <url-pattern>/federation/clients/*</url-pattern>
    </servlet-mapping>

    <!-- Subject Session Store endpoint (JAX-RS) -->
    <servlet>
        <servlet-name>com.nimbusds.sessionstore.rest.WebAPI</servlet-name>
        <load-on-startup>10</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>com.nimbusds.sessionstore.rest.WebAPI</servlet-name>
        <url-pattern>/session-store/rest/v2/*</url-pattern>
    </servlet-mapping>


    <!-- PAR endpoint -->
    <servlet>
        <servlet-name>PARServlet</servlet-name>
        <servlet-class>com.nimbusds.openid.connect.provider.par.PARServlet</servlet-class>
        <load-on-startup>11</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>PARServlet</servlet-name>
        <url-pattern>/par/*</url-pattern>
    </servlet-mapping>
	
	
	<!-- Authorisation Session endpoint (JAX-RS) -->
	<servlet>
		<servlet-name>com.nimbusds.openid.connect.provider.authz.AuthorizationSessionEndpoint</servlet-name>
        <load-on-startup>12</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>com.nimbusds.openid.connect.provider.authz.AuthorizationSessionEndpoint</servlet-name>
		<url-pattern>/authz-sessions/rest/v3/*</url-pattern>
	</servlet-mapping>


    <!-- CIBA endpoint -->
    <servlet>
        <servlet-name>CIBAServlet</servlet-name>
        <servlet-class>com.nimbusds.openid.connect.provider.ciba.endpoint.CIBAServlet</servlet-class>
        <load-on-startup>13</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>CIBAServlet</servlet-name>
        <url-pattern>/ciba/*</url-pattern>
    </servlet-mapping>


    <!-- CIBA sessions endpoint (JAX-RS) -->
    <servlet>
        <servlet-name>com.nimbusds.openid.connect.provider.ciba.sessions.CIBASessionsEndpoint</servlet-name>
        <load-on-startup>14</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>com.nimbusds.openid.connect.provider.ciba.sessions.CIBASessionsEndpoint</servlet-name>
        <url-pattern>/ciba-sessions/rest/v1/*</url-pattern>
    </servlet-mapping>


    <!-- Direct Authorisation endpoint (JAX-RS) -->
    <servlet>
        <servlet-name>com.nimbusds.openid.connect.provider.authz.DirectAuthorizationEndpoint</servlet-name>
        <load-on-startup>15</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>com.nimbusds.openid.connect.provider.authz.DirectAuthorizationEndpoint</servlet-name>
        <url-pattern>/direct-authz/rest/v2/*</url-pattern>
    </servlet-mapping>
	
	
	<!-- Token endpoint -->
	<servlet>
		<servlet-name>TokenServlet</servlet-name>
		<servlet-class>com.nimbusds.openid.connect.provider.token.TokenServlet</servlet-class>
        <load-on-startup>16</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>TokenServlet</servlet-name>
		<url-pattern>/token/*</url-pattern>
	</servlet-mapping>
	
	
	<!-- Token introspection (RFC 7662) endpoint -->
	<servlet>
		<servlet-name>TokenIntrospectionServlet</servlet-name>
		<servlet-class>com.nimbusds.openid.connect.provider.token.introspection.TokenIntrospectionServlet</servlet-class>
        <load-on-startup>17</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>TokenIntrospectionServlet</servlet-name>
		<url-pattern>/token/introspect/*</url-pattern>
	</servlet-mapping>


	<!-- Token revocation (RFC 7009) endpoint -->
	<servlet>
		<servlet-name>TokenRevocationServlet</servlet-name>
		<servlet-class>com.nimbusds.openid.connect.provider.token.TokenRevocationServlet</servlet-class>
        <load-on-startup>18</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>TokenRevocationServlet</servlet-name>
		<url-pattern>/token/revoke/*</url-pattern>
	</servlet-mapping>


	<!-- UserInfo endpoint -->
	<servlet>
		<servlet-name>UserInfoServlet</servlet-name>
		<servlet-class>com.nimbusds.openid.connect.provider.userinfo.UserInfoServlet</servlet-class>
        <load-on-startup>19</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserInfoServlet</servlet-name>
		<url-pattern>/userinfo/*</url-pattern>
	</servlet-mapping>


    <!-- Logout session endpoint (JAX-RS) -->
    <servlet>
        <servlet-name>com.nimbusds.openid.connect.provider.logout.endpoint.LogoutSessionEndpoint</servlet-name>
        <load-on-startup>20</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>com.nimbusds.openid.connect.provider.logout.endpoint.LogoutSessionEndpoint</servlet-name>
        <url-pattern>/logout-sessions/rest/v1/*</url-pattern>
    </servlet-mapping>


    <!-- Check session endpoint -->
    <servlet>
        <servlet-name>com.nimbusds.openid.connect.provider.checksession.CheckSessionBackendEndpoint</servlet-name>
        <load-on-startup>21</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>com.nimbusds.openid.connect.provider.checksession.CheckSessionBackendEndpoint</servlet-name>
        <url-pattern>/check-session-backend/rest/v1/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CheckSessionJS</servlet-name>
        <jsp-file>/js/check-session-js.jsp</jsp-file>
        <load-on-startup>22</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>CheckSessionJS</servlet-name>
        <url-pattern>/js/check-session.js</url-pattern>
    </servlet-mapping>


    <!-- STS endpoint (JAX-RS) -->
    <servlet>
        <servlet-name>com.nimbusds.openid.connect.provider.sts.STSEndpoint</servlet-name>
        <load-on-startup>23</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>com.nimbusds.openid.connect.provider.sts.STSEndpoint</servlet-name>
        <url-pattern>/sts/rest/v1/*</url-pattern>
    </servlet-mapping>


    


    <!-- Metrics and health check endpoint -->
    <servlet>
        <servlet-name>MonitorServlet</servlet-name>
        <servlet-class>com.nimbusds.common.servlet.MonitorServlet</servlet-class>
        <load-on-startup>98</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>MonitorServlet</servlet-name>
        <url-pattern>/monitor/v1/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PrometheusMonitorServlet</servlet-name>
        <servlet-class>com.nimbusds.common.servlet.PrometheusMonitorServlet</servlet-class>
        <load-on-startup>99</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>PrometheusMonitorServlet</servlet-name>
        <url-pattern>/monitor/v1/metrics/prometheus/*</url-pattern>
    </servlet-mapping>

    <context-param>
        <description>
            The location of the monitor configuration for Dropwizard metrics
            and health checks.
        </description>
        <param-name>monitor.configurationFile</param-name>
        <param-value>/WEB-INF/monitor.properties</param-value>
    </context-param>



    <!-- Log4j logging -->
    <context-param>
        <description>
            The location of the Log4j configuration file. Must be relative to
            the web application root directory.
        </description>
        <param-name>log4jConfiguration</param-name>
        <param-value>/WEB-INF/log4j.xml</param-value>
    </context-param>


    <!-- Loads additional Java system properties from a local file, AWS S3 -->
    <!-- object or AWS DynamoDB item if a "systemPropertiesURL" Java       -->
    <!-- system property is set                                            -->
    <listener>
        <listener-class>com.nimbusds.openid.connect.provider.config.SystemPropertiesLoader</listener-class>
    </listener>


    <!-- Restores Java system property names where dots were replaced with  -->
    <!-- underscores in order to pass them as environment variables in AWS  -->
    <!-- Elastic Beanstalk (dots not allowed in environment variable names) -->
    <listener>
        <listener-class>com.nimbusds.openid.connect.provider.config.SystemPropertyNameDotRestore</listener-class>
    </listener>


    


    <!-- Infinispan launcher -->
    <listener>
        <listener-class>com.nimbusds.common.servlet.InfinispanLauncher</listener-class>
    </listener>

    <context-param>
        <description>
            The location of the Infinispan configuration file. Must be
            relative to the web application root directory.
        </description>
        <param-name>infinispan.configurationFile</param-name>
        <param-value>/WEB-INF/infinispan-local-h2.xml</param-value>
    </context-param>
    
    
    <!-- Key store launcher -->
    <listener>
        <listener-class>com.nimbusds.keystore.rest.Launcher</listener-class>
    </listener>

    <context-param>
        <description>
            The location of the Key Store configuration file. Must be relative
            to the web application root directory.
        </description>
        <param-name>keyStore.configurationFile</param-name>
        <param-value>/WEB-INF/keyStore.properties</param-value>
    </context-param>


    <!-- Tenant manager launcher -->
    <listener>
        <listener-class>com.nimbusds.tenants.manager.servlet.TenantManagerLauncher</listener-class>
    </listener>


    <!-- Authorisation Store launcher -->
    <listener>
        <listener-class>com.nimbusds.authzstore.rest.Launcher</listener-class>
    </listener>

    <context-param>
        <description>
            The location of Authorisation Store configuration file. Must be
            relative to the web application root directory.
        </description>
        <param-name>authzStore.configurationFile</param-name>
        <param-value>/WEB-INF/authzStore.properties</param-value>
    </context-param>

    <context-param>
        <description>
            The location of the properties file specifying the compression map
            for the OpenID Connect claim names. The file must be relative to
            the web application root directory.
        </description>
        <param-name>authzStore.claimsCompressionFile</param-name>
        <param-value>/WEB-INF/claimsCompression.properties</param-value>
    </context-param>


    <!-- Session store launcher -->
    <listener>
        <listener-class>com.nimbusds.sessionstore.rest.Launcher</listener-class>
    </listener>

    <context-param>
        <description>
            The location of the Session Store configuration file. Must be
            relative to the web application root directory.
        </description>
        <param-name>sessionStore.configurationFile</param-name>
        <param-value>/WEB-INF/sessionStore.properties</param-value>
    </context-param>
	
	
	<!-- Provider components launcher -->
	<listener>
		<listener-class>com.nimbusds.openid.connect.provider.ProviderComponentsLauncher</listener-class>
	</listener>

    <context-param>
        <description>
            The location of the OpenID Connect 1.0 provider (OP) configuration
            file. Must be relative to the web application root directory.
        </description>
        <param-name>op.configurationFile</param-name>
        <param-value>/WEB-INF/oidcProvider.properties</param-value>
    </context-param>

    <context-param>
        <description>
            The location of client registration LDAP attribute map file. Must
            be relative to the web application root directory.
        </description>
        <param-name>op.reg.attributeMap</param-name>
        <param-value>/WEB-INF/oidcClientInfoMap.json</param-value>
    </context-param>


    <!-- Monitor launcher -->
    <listener>
        <listener-class>com.nimbusds.common.servlet.MonitorLauncher</listener-class>
    </listener>


    <!-- Custom error pages -->
    <error-page>
        <!-- Prevent output of exception stack traces, always show a static 500 page  -->
        <error-code>500</error-code>
        <location>/error-500.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/error-404.html</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/error-405.html</location>
    </error-page>
    <error-page>
        <!-- For all other errors not handled by the application -->
        <location>/error-xxx.html</location>
    </error-page>


    <!-- Cross-Origin Resource Sharing (CORS) support -->
    <filter>
        <description>
            Provides transparent Cross-Origin Resource Sharing (CORS) to
            supporting web browsers.

            See https://connect2id.com/products/server/docs/config/cors
        </description>
        <filter-name>CORSFilter</filter-name>
        <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
        <init-param>
            <description>
                The location of the CORS Filter configuration file. Must be
                relative to the web application root directory.
            </description>
            <param-name>cors.configurationFile</param-name>
            <param-value>/WEB-INF/cors.properties</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>CORSFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
