<?xml version="1.0" encoding="UTF-8"?>
<web-app version = "6.0"
          xmlns = "https://jakarta.ee/xml/ns/jakartaee"
          xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation = "https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">

    <display-name>Connect2id Server Logout Page 2.0</display-name>

    <description>
        Sample Connect2id server logout page.

        Copyright (c) Connect2id Ltd., 2017 - 2023
    </description>

    <error-page>
        <error-code>500</error-code>
        <location>/error-500.html</location>
    </error-page>

</web-app>